/* div {
    padding: 50px;
    margin: 20px;
    border-style: groove;
    border-color: red;
    border-width: 3px;
    width: 300px;
    height: 150px;
    float: left;
}

p {
    font-size: 25px;
}

#one {
    border-radius: 30px;
    background-color: lightgreen;
}

#two {
    border-radius: 25% 10%;
    background: orange;
}

#three {
    border-radius: 35px 10em 10%;
    background: cyan;
}

#four {
    border-radius: 50px 50% 50cm 50em;
    background: lightblue;
}

#left {
    border-top-right-radius: 250px;
    background: lightgreen;
    padding: 50px;
    border: 6px ridge red;
    width: 300px;
    height: 200px;
    font-size: 25px;
} */


/* Border Collapse :Seperate and Colllapse */


/* table {
    border: 1px solid blue;
    text-align: center;
    font-size: 20px;
    width: 80%;
    height: 50%;
}

th {
    border: 2px solid red;
    background-color: yellow;
}

td {
    border: 2px solid violet;
    background-color: cyan;
}

#t1 {
    border-collapse: seperate;
    border-spacing: 20pt 1em;
} */


/* body {
    text-align: center;
}

button {
    color: lightgoldenrodyellow;
    font-size: 30px;
}

.b1 {
    background-color: lightblue;
    border: 5px red double;
    border-radius: 25px;
    color: black;
    box-shadow: 0 8px 16px 0 black 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 30px;
}

.b2 {
    background-color: lightblue;
    border: 5px red dotted;
    color: black;
    border-radius: 25px;
}

.b2:hover {
    box-shadow: 0 8px 16px 0 black, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {
    float: right;
    border-style: dashed;
    border-color: red;
    background-color: aquamarine;
} */

body {
    text-align: center;
}


/* a {
    color: red;
}

a:hover {
    color: green;
}

a:active {
    color: cyan;
} */

p:hover,
h1:hover,
a:hover {
    border-right-color: yellow;
}

h1#one {
    color: white;
    overflow: scroll;
    background-color: red;
    width: 200px;
    height: 200px;
}

#one {
    color: blue !important;
    border: 5px dotted;
    border-color: black;
}

body {
    background-color: yellow !important;
    text-align: center;
    background-image: url(image.png);
    background-size: 300px 150px contain;
    background-position: left;
    background-attachment: scroll;
}

#img {
    filter: sepia(90%);
}

.three {
    background-color: rgb(206, 203, 29);
    line-height: 50px;
    margin-top: 70px;
    margin: 100px;
    opacity: 0.4;
}